.navbar {
  background-color: var(--navbar-bg) !important;
}

.navbar .nav-link,
.navbar .navbar-brand {
  color: var(--navbar-text) !important;
}

.navbar .nav-link:hover {
  color: #ffc107 !important; 
}